.ecomHero {
    padding: 2rem 2rem 6rem 2rem;
    /* background: #1e1e1e; */
    background: #FFF;
}
.ecomHeroContainer {
    padding: 2rem 2rem 2rem 4rem;
    display: flex;
    align-items: center;
}
.ecomHeroContentA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.ecomHeroTitle {
    font-size: 3rem;
    width: 90%;
}
.ecomHeroDescription {
    font-size: 1.13rem;
    width: 50%;
    line-height: 150%;
    padding: 2rem 0;
}
.ecomHeroContentB {
    width: 60%;
    position: relative;
    transform: translateX(20%);
}

.mockUpA {
    border: 20px #1E2226 solid;
    border-radius: 0.625rem;
    width: 100%;
    height: 30.25rem;

    overflow: hidden;
}
.mockUp_Img {
    flex: 0 0 100%;
}
.mockUpA.scaleDown {
    position: absolute;
    top: 30%;
    left: -40%;
    scale: 0.6;

    border-radius: 2.5rem;
}