.gdExp {
    padding: 2rem;
}
.gdExpContainer {
    padding: 3rem 4rem;
}
.gdExpTitleContainer {
   display: flex;
   align-items: center;
   justify-content: center;
}
.gdExpTitle {
    font-size: 2rem;
    font-weight: 500;

    text-align: center;
    width: 48%;
    color: #0E0E0E;
}
.gdExpShowcase {
    padding: 2rem 0;
}   
.gdExpItem {
    display: flex;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px #C2C2C2 solid;
}
.gdExpItemA {
    width: 40%;
    display: flex;
    align-items: center;
}
.gdExpItemLogo {
    width: 16.6rem;
    height: 5.2rem;
}
.gdExpItemB {
    width: 50%;
}
.gdExpItemDescription {
    font-size: 1.13rem;
    line-height: 180%;
}
.gdExpDescription {
    padding: 2rem 0;
}

@media(min-width: 1016px) and (max-width: 1180px) {
    .gdExp {
        padding: 2rem 1rem;
    }
    .gdExpContainer {
        padding: 2rem;
    }
    .gdExpItem {
        align-items: center;
        justify-content: space-between;
    }
    .gdExpItemA {
        width: 30%;
    }
}
@media(min-width: 780px) and (max-width: 1016px) {
    .gdExp {
        padding: 2rem 0;
    }
    .gdExpContainer {
        padding: 2rem 1rem;
    }
    .gdExpItem {
        align-items: center;
        justify-content: space-between;
    }
    .gdExpItemA {
        width: 40%;
    }
    .gdExpItemB {
        width: 60%;
    }
}
@media(min-width: 600px) and (max-width: 780px) {
    .gdExp{
        padding: 2rem 0;
    }
    .gdExpContainer {
        padding: 2rem 1rem;
    }
    .gdExpItem {
        flex-direction: column;
        align-items: flex-start;
    }
    .gdExpItemA {
        width: 100%;
    }
    .gdExpItemB {
        width: 100%;
    }
}
@media(min-width: 480px) and (max-width: 600px) {
    .gdExp{
        padding: 2rem 0;
    }
    .gdExpContainer {
        padding: 2rem 1rem;
    }
    .gdExpItem {
        flex-direction: column;
        align-items: flex-start;
    }
    .gdExpItemA {
        width: 100%;
    }
    .gdExpItemB {
        width: 100%;
    }
}
@media(min-width: 320px) and (max-width: 480px) {
    .gdExp{
        padding: 1rem 0;
    }
    .gdExpContainer {
        padding: 2rem 1rem;
    }
    .gdExpItem {
        flex-direction: column;
        align-items: flex-start;
    }
    .gdExpItemA {
        width: 100%;
    }
    .gdExpItemB {
        width: 100%;
    }
    .gdExpItemLogo {
        width: 10.6rem;
        height: 4.8rem;
    }
    .gdExpItemDescription {
        font-size: 1rem;
    }
}
@media(max-width: 320px) {
    .gdExp{
        padding: 1rem 0;
    }
    .gdExpContainer {
        padding: 2rem 0;
    }
    .gdExpItem {
        flex-direction: column;
        align-items: flex-start;
    }
    .gdExpItemA {
        width: 100%;
    }
    .gdExpItemB {
        width: 100%;
    }
    .gdExpItemLogo {
        width: 13.6rem;
        height: 3.8rem;
    }
    .gdExpItemDescription {
        font-size: 0.8rem;
    }
}

@media(max-width: 1300px) {
    .gdExpTitle {
        width: 52%;
    }
}
@media(max-width: 1230px) {
    .gdExpTitle {
        width: 58%;
    }
}
@media(max-width: 780px){
    .gdExpTitle {
        width: 100%;
        font-size: 1.8rem;
    }
}
@media(max-width:450px) {
    .gdExpContainer {
        padding: 3rem 0rem;
    }
    .gdExpTitle {
        scale: 0.94;
    }
    .gdExpShowcase {
        padding: 0rem 2rem;
    }
}