.BeingTerrific {
    padding: 2rem;
    background: #FFF8F1;
    color: #0E0E0E;

    font-size: 1rem;
}
.BeingTerrific_Container {
    padding: 2em 3em;
}
.BeingTerrfic_TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BeingTerrific_Title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.BeingTerrific_Title > p {
    font-size: 2.5em;
    text-align: center;
}
.BeingTerrific_Showcase {
    margin: 4em 0 2em 0;
}
.BeingTerrific_ShowcaseContainer {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
    
}
.BeingTerrfic_ShowcaseItem {
    display: flex;
    flex-direction: column;
    width: 26%;

    margin: 2em 0;

}
/* bespoke-variant */
.BeingTerrific_ShowcaseLogo.bespokeLogoVariant {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BeingTerrific_ShowcaseLogo.bespokeLogoVariant > img {
    height: 80%;
    width: 80%;

    object-fit: contain;
}
.BeingTerrific_ShowcaseLogo.bespokeLogoVariantMob {
    display: none;
}
.BeingTerrfic_ShowcaseItem.bespokePage {
    flex-direction: row;
    width: 30%;
}
/* bespoke-variant end */
.BeingTerrific_ShowcaseTitle {
    margin: 0.5em 0;
}
.BeingTerrific_ShowcaseTitle > p {
    font-size: 1.8em;
    color: #0E0E0E;
}
.BeingTerrific_ShowcaseDescription {
}
.BeingTerrific_ShowcaseDescription > p {
    font-size: 1.1em;
    color: #0E0E0E;

    line-height: 160%;
}

/* Media-query */
@media(min-width: 1300px) and (max-width: 1530px) {
    .BeingTerrfic_ShowcaseItem.bespokePage {
        width: 32%;
    }
}
@media(max-width: 1300px) {
    .BeingTerrfic_ShowcaseItem.bespokePage {
        width: 40%;
    }
}
@media(min-width: 580px) and (max-width: 1000px) {
    .BeingTerrific {
        padding: 2rem 0;
    }
    .BeingTerrific_Container {
        padding: 2em 1em;
    }
    .BeingTerrfic_ShowcaseItem {
        width: 45%;
    }
    .BeingTerrific_ShowcaseLogo.bespokeLogoVariant {
        display: none;
    }
    .BeingTerrific_ShowcaseLogo.bespokeLogoVariantMob {
        display: block;
    }
}
@media(max-width: 580px) {
    .BeingTerrific {
        padding: 2rem 0;
    }
    .BeingTerrific_Container {
        padding: 2em 1em;
    }
    .BeingTerrfic_ShowcaseItem {
        width: 100%;
        padding: 0 1em 0 2em;
    }
    .BeingTerrfic_ShowcaseItem.bespokePage {
        width: 100%;
    }
    .BeingTerrific_ShowcaseLogo.bespokeLogoVariant {
        display: none;
    }
    .BeingTerrific_ShowcaseLogo.bespokeLogoVariantMob {
        display: block;
    }
}