.cV2 {
    padding: 2rem;
    background: #FFF;
    font-size: 1rem;
}
.cV2_Container {
    padding: 2em 4em;
}
.cV2_TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cV2_Title {
    margin: 1em 0;
    width: 60%;
}
.cV2_Title > p {
    font-size: 2.5em;
    color: #0E0E0E;

    text-align: center;
}
.cV2_SubTitle {
    width: 50%;
    padding: 0.5em 0 1em 0;
}
.cV2_SubTitle > p {
    font-size: 1.1em;
    color: #0E0E0E;

    text-align: center;
}

/* Media-Query */
@media(max-width:1200px){
    .cV2 {
        padding: 2rem 0;
    }
    .cV2_Container {
        padding: 2em 0;
    }
    .cV2_Title {
        width: 70%;
    }
}

@media(max-width: 880px) {
    .cV2_Title {
        width: 80%;
        margin: 0 0 2em 0;
    }
    .cV2_SubTitle {
        width: 70%;
        margin: 0 0 2em 0;
    }
}
@media(max-width: 680px) {
    .cV2_Title {
        width: 95%;
    }
    .cV2_SubTitle {
        width: 80%;
    }
}