.bPointsBg {
    /* height: 100vh; */
    width: 100vw;
}
.bgPointsContentContainer {
    padding: 5rem 2rem 4rem 2rem;
}
.bgPointsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bgPointText {
    font-size: 2rem;
    line-height: 150%;
    color: #6a6766;   
    width: 72%;
    padding: 0.6rem 0 1rem 2rem;
}
.bgPoint {
    width: 58%;
    font-size: 1.2rem;
    line-height: 150%;
    color: #6a6766;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
}

.bgPointContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.54rem 2rem 2rem 0rem;
}
@media(max-width: 780px) {
    .bgPointText {
        width: 100%;
    }
}
@media(max-width: 650px) {
    .bgPointText {
        width: 100%;
    }
}
@media(max-width: 450px) {
    .bgPointText {
        width: 100%;
        padding: 0.6rem 0 0rem;
        font-size: 1.5rem;
    }
    .bgPoint {
        width: 76%;
        font-size: 1.1rem;
    }
}
@media(max-width: 350px) {
    .bgPointsContentContainer {
        padding: 3rem 1rem 2rem 1rem;
    }
}