.nextPrj {
    padding: 12rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}
.nextPrj::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}
.nextPrjContainer {
    padding: 2rem 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.nextPrjContent {
    width: 65%;
    z-index: 100;
}
.nxtPrjNme {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.nxtPrjOvr {
    padding: 1.2rem 0;
    font-size: 2.4rem;
    width: 100%;
}
.nxtPrjCTA {
    border: 1px rgba(255,255,255,1) solid;
    background: rgba(255, 255, 255, 0.4);
    margin: 2rem 0;
    padding: 1.2rem 2rem;
    width: 50%;
    border-radius: 0.2rem;
    font-size: 1.4rem;
}

/* media-query */
@media(max-width: 1200px) {
    .nextPrjContent {
        width: 80%;
    }
}
@media(max-width: 900px){
    .nextPrjContainer {
        padding: 2rem;
    }
    .nextPrjContent {
        width: 100%;
    }
}
@media(max-width: 750px) {
    .nxtPrjOvr {
        width: 100%;
    }
    .nxtPrjCTA {
        width: 80%;
    }
}
@media(max-width: 550px) {
    .nextPrj {
        padding: 6rem 1rem;
    }
    .nextPrjContainer {
        padding: 2rem 0;
    }
    .nxtPrjCTA {
        width: 90%;
    }
    .nxtPrjOvr {
        font-size: 1.6rem;
    }
}