.prjOverviewContainer {
    display: flex;
}
.prjA {
    width: 30%;
    background: #282625;

    padding: 10rem 2rem 10rem 5rem;
}
.prjTagContainer {
    padding: 0.5rem 0;
}
.prjTagTitle {
    font-size: 0.9rem;
    padding: 0.3rem 0;
}
.prjTags {
    font-size: 0.8rem;
    padding: 0.2rem 0;
    color: #a5a5a5;
}
.prjB {
    width: 70%;
    background: #0f0f0f;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 2rem 10rem;
}
.prjBContent {
    width: 60%;
}
.prjDescript {
    font-size: 1.3rem;
    line-height: 150%;
    padding: 2rem 0;
}
.prjCTA {
    display: flex;
    align-items: center;
}
.prjCTAText {
    font-size: 1rem;
}

@media(max-width: 1000px) {
    .prjB {
        width: 70%;
        padding: 2rem 0rem 2rem 6rem;
    }
}
@media(max-width: 780px) {
    .prjOverviewContainer {
        flex-direction: column;
    }
    .prjA {
        width: 100%;
    }
    .prjB {
        width: 100%;
        padding: 2rem 2rem 2rem 2rem;
    }
    .prjBContent{
        width: 100%;
    }
}
