/* WorksTop */
.worksHero {
    padding: 4rem 2rem 2rem 2rem;
    background: rgba(255, 248, 241, 1);
}
.worksHeroContainer {
    padding: 2rem 4rem;
}
.worksA {
    padding: 2rem 0;
}

/* .worksAText {
    line-height: 180%;
} */
.worksB {
    padding: 1rem 0;
    margin: 1rem 0;
}
.worksBItems {
    display: flex;
    align-items: center;
    justify-content: center;
}
.worksBItem {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    
    border-right: 1px #C9C9C9 solid;

}
.worksBItem:last-child {
    border-right: none;
    border-bottom: none;
}
.worksBLogo {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 0.7rem;
}
.worksBTextContainer {
    color: #0E0E0E;
}
.worksBNumber {
    font-size: 1.2rem;
}
.worksBText {
    font-size: 1rem;
}


/* media-query */
@media(min-width: 1290px) and (max-width: 1448px) {
    .worksHero{
        padding: 4rem 0 2rem 0;
    }
    .worksHeroContainer {
        padding: 2rem 0;
    }
}
@media(min-width: 900px) and (max-width: 1290px) {
    .worksHero{
        padding: 4rem 0 2rem 0;
    }
    .worksHeroContainer {
        padding: 2rem 0;
    }
}
@media(max-width: 740px) {
    .worksB {
        padding: 0;
        margin: 0;
    }
    .worksBItems {
        flex-direction: column;
    }
    .worksBItem {
        margin: 1rem 0;
        padding: 1rem 0.2rem;
        border-bottom: 1px #C9C9C9 solid;
        border-right: none;
    }
}
@media(max-width: 780px)  {
    .worksHero{
        padding: 4rem 0 2rem 0;
    }
    .worksHeroContainer {
        padding: 2rem 0;
    }
}












/* WorksShowCase */
.worksShowCase {
    padding: 2rem;
    background: rgba(255, 248, 241, 1);
}
.worksShowCaseContainer {
    padding: 0 8rem 2rem 8rem;
}
.worksShowCaseContentContainer {
    
}
.worksShowcaseItem {
    margin: 0 0 1rem 0;
    position: relative;
}
.worksBtn {
    color: #FFF;
}
.worksShowcaseItem:hover .worksArrow {
    fill: #FF5D1D;
}
.worksShowcaseItem:hover .worksBtn {
    color: #FF5D1D;
}
.worksTabContainer {
    display: flex;
}
/* --------- */
.worksTab {
    padding: 0.6rem 0.9rem;
    margin-right: 0.8rem;
    border-radius: 0.25rem;
}
.worksTabActive {
    padding: 0.6rem 0.9rem;
    margin-right: 0.8rem;
    border-radius: 0.25rem;

    background: #000;
    color: #fff;
}
/* ---------------- */
.worksShowCaseContent {
    margin: 0.5rem 0;
}
.worksShowcaseItemContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100%;


}
.worksCaseItem {
    position: relative;
    height: 50vh;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;

}
.worksShowCaseOverlayItem {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemReveal {
    transform: translateY(58%);
    transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 10000000;
}
.worksCaseItem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.worksCaseItem:hover .itemReveal {
    transform: translateY(20%);
}
.worksCaseItem:hover.worksCaseItem::after {
    opacity: 0.6;
}
.imgATag{
    width: fit-content;
    padding: 0.4rem 1rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
    border: 1px #FFF solid;
    font-size:  0.7rem;

}


@media(min-width: 780px) and (max-width: 1060px) {
    .worksShowCase {
        padding: 2rem 0;
    }
    .worksShowCaseContainer {
        padding: 0 4rem 0 4rem;
    }
}
@media(max-width: 780px) {
    .worksShowCase {
        padding: 2rem 0;
    }
    .worksShowCaseContainer {
        padding: 0 4rem 0 4rem;
    }
    .worksShowcaseItemContainer {
        display: block;
    }
    .worksCaseItem {
        margin: 1rem 0;
    }
}
@media(max-width: 580px) {
    .imgATag {
        font-size: 0.8rem;
        margin-right: 0.4rem;
    }
    .worksShowCaseContainer {
        padding: 0 1rem 0 1rem;
    }
    .worksShowCaseOverlayItem {
        padding: 2rem 1.8rem;
    }
    .worksCaseItem {
        height: 60vh;
    }
}
@media(max-width: 280px) {
    .imgATag {
        font-size: 0.5rem;
        margin-right: 0.4rem;
    }
    .worksShowCaseContainer {
        padding: 0 1rem 0 1rem;
    }
    .worksShowCaseOverlayItem {
        padding: 2rem 1rem;
    }
    .worksCaseItem {
        height: 60vh;
    }
}