.ecomChild {
    padding: 4rem 2rem;
    background: #FFF8F1;
    position: relative;
}
.ecomChildContainer {
    padding: 2rem 4rem;
}
.ecomChildContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ecomChildHeroLogo {
    width: 5.44rem;
    height: 6.3rem;
}
.ecomChildHeroTitle {
    font-size: 3rem;
    text-align: center;
    width: 80%;
    line-height: 130%;
    padding: 1rem 0;
    margin: 0.5rem 0;
}
.ecomChildImgContainer {
    display: flex;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);

    max-width: 100vw;
    
}
.ecomChildImg {
    width: 30rem;
    height: 22rem;
    margin-inline: 1rem;

}
.ecomChildImg.imgA {
    width: 26rem;
    transform: perspective(400px) rotateY(-5deg); 
}
.ecomChildImg.imgC {
    width: 26rem;
    transform: perspective(400px) rotateY(5deg); 
}

@media(min-width: 920px) and (max-width: 1069px){
    .ecomChild {
        padding: 4rem 0;
    }
    .ecomChildContainer {
        padding: 2rem 0;
    }
    .ecomChildHeroTitle {
        font-size: 2.8rem;
        width: 90%;
    }
}
@media(min-width: 780px) and (max-width: 920px) {
    .ecomChild {
        padding: 4rem 0;
    }
    .ecomChildContainer {
        padding: 2rem 0;
    }
    .ecomChildHeroTitle {
        font-size: 2rem;
        width: 90%;
    }
    .ecomChildHeroLogo {
        width: 4.44rem;
        height: 5.3rem;
    }
}
@media(min-width: 520px) and (max-width: 780px) {
    .ecomChild {
        padding: 4rem 0;
    }
    .ecomChildContainer {
        padding: 2rem 0;
    }
    .ecomChildHeroTitle {
        font-size: 2rem;
        width: 90%;
    }
    .ecomChildHeroLogo {
        width: 4.44rem;
        height: 5.3rem;
    }
}
@media(max-width: 520px) {
    .ecomChild {
        padding: 4rem 0;
    }
    .ecomChildContainer {
        padding: 2rem 0;
    }
    .ecomChildHeroTitle {
        font-size: 1.4rem;
        width: 88%;
    }
    .ecomChildHeroLogo {
        width: 3.44rem;
        height: 4.3rem;
    }
}

/* image */
@media(min-width: 900px) and (max-width: 1106px) {
    .ecomChildImgContainer {
        bottom: -48%;
    }
}

@media(min-width: 800px) and (max-width: 900px) {
    .ecomChildImgContainer {
        bottom: -40%;
    }
}
@media(max-width: 780px) {
    .ecomChildImgContainer {
        bottom: -30%;
    }
}
@media(max-width: 580px) {
    .ecomChildImgContainer {
        bottom: -30%;
    }
    .ecomChildImg {
        margin-inline: 0.2rem;
    }
}