.desgnHero{
    background: #FFF;
    /* padding: 2rem; */

    font-size: 1rem;
}
.desgnHero_Container {
    padding: 6em 6em 0 6em;
}
/* this class is connected with the about hero */
.Forging_Description.desgnDesc {
    width: 52%;
}
/* -------------------------------------------- */
.desgnHero_ImageContainer {
    width: 100vw;
}
.desgnHero_Image{

}
.desgnHero_DescriptContainer {
    padding: 2em 0em 2em 4em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.desgnhero_Descript {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.desgnHero_DescriptMainText {
    display: flex;
    align-items: center;
    justify-content: center;
}
.desgnHero_DescriptMainText > p {
    font-size: 50px;
    color: #0e0e00;

    text-align: center;
}
.desgnHero_DescriptSubtext {
    width: 38%;
    margin: 1em 0;
}
.desgnHero_DescriptSubtext > p {
    font-size: 1.1em;
    color: #0e0e00;
    line-height: 150%;

    text-align: center;
}
.desgnHero_TMFace {
    position: relative;
}
/* gradient text */
.Forging_AnimTitle.designTextA {
    background: linear-gradient(90deg, #EF1C26 -5.5%, #FF0A8E 107.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.Forging_AnimTitle.designTextB {
    background: linear-gradient(90deg, #01EAB2 0%, #01B5D4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.Forging_AnimTitle.designTextC {
    background: linear-gradient(90deg, #8642F8 -5.5%, #B436F3 107.25%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}