

.dsgnOvw {
    padding: 6rem 2rem;
    background: #000;
    font-size: 1rem;
}
/* ----------------------- */
.dgnOvw_Container {
    padding: 2em 6em;
}
.dsgnOvw_Title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dsgnOvw_Title > p {
    font-size: 2.5em;
}
.dsgnOvw_Content {
    margin: 4em 0 0 0;
    padding: 2em;
}
/* A */
.dsgnOvw_ContentA {
    width: 50%;
    padding: 0 2em 2em 6em;
}
.dsgnOvw_ContentA_Item {
    margin: 3em 0 4em 0;
}
.dsgnOvw_ContentA_Item_Text{
    cursor: pointer;
}
.dsgnOvw_ContentA_Item_Text > p {
    font-size: 2.5em;
}

.dsgnOvw_ContentB_ItemA_Subtitle {
    padding: 0 0 1em 0;
}
.dsgnOvw_ContentB_ItemA_Subtitle > p {
    font-size: 1.6em;
    color: #FFFF;
}
.dsgnOvw_ContentB_ItemA_Description > p {
    font-size: 1.1em;
    color: #C2C2C2;
}
/* B */
.dsgnOvw_ContentB {
    width: 50%;
}
.dsgnOvw_ContentB_ItemA_TextContainer {
    padding: 2em;
}

.dsgnOvw {
    background: #000;
}
.dsgnOvw.dsgnOvwBgA {
    /* background: linear-gradient(45deg, #FF7438, #FFA40A); */
    background: #DF0068;
    filter: blur(350px);
}
.dsgnOvw.dsgnOvwBgB{
    background: #238536;
    filter: blur(350px);
}
.dsgnOvw.dsgnOvwBgC{
    background: #DB6B47;
    filter: blur(350px);
}
.dsgnOvw.dsgnOvwBgD{
    background: #533D9F;
    filter: blur(350px);
}

/* ------------------------- */
/* Design Video Showcase */
.dsgnVidShwCse {
    height: 100vh;
    width: 100vw;
}
/* Media- Query */
@media(max-width: 950px) {
    .dgnOvw_Container {
        display: none;
    }
    .dsgnOvw {
        background: #000;
    }
}
@media(min-width: 950px) and (max-width: 1300px) {
    .dgnOvw_Container{
        padding: 2em 0;
    }
    .dsgnOvw_Content {
        padding: 2em 0;
    }
    /* bg Variations */
    .dsgnOvw.dsgnOvwBgA {
        /* background: linear-gradient(45deg, #FF7438, #FFA40A); */
        background: #DF0068;
        /* filter: blur(450px); */
    }
    .dsgnOvw.dsgnOvwBgB{
        background: linear-gradient(45deg, #8642F8, #B436F3);
    }
}
@media(max-width: 780px) {
    .dsgnVidShwCse {
        height: 50vh;
        width: 100vw;
    }
}