.ourApproach {
    background: #FFF;
    padding: 8rem 2rem 8rem 2rem; 
}
.ourApproach_Container {
}
.ourApproach_Title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourApproach_Title > h2 {
    color: #0E0E0E;
    font-size: 2.5rem;
}
.ourApproach_Interaction_Container {
    margin: 4rem 0 0 0;
}
/* CIRCLE */
.ourApproach_Item_Circle_Container {
    display: flex;
}
.ourApproach_Interaction_Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourApproach_Item_Circle {
    border: 1px #CBCBCB solid;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;

    background: #FFF;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}
.ourApproach_Item_Title {
    width: 60%;
}
.ourApproach_Item_Title > p {
    color: #0E0E0E;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;

}
.ourApproach_Item_Circle_Dark {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    align-items: center;
    justify-content: center;
    background: #0E0E0E;
    transform: scaleX(-1);
    transition: all 0.4s ease;
    border-radius: 50%;
}

.ourApproach_Item_Bullet {

}
.ourApproach_Item_Bullet > p {
    color: #FFF;
    line-height: 160%;
}

.ourApproach_Interaction_Container.mobCircleContainer {
    display: none;
}
/* media-query */
@media(max-width: 1200px) {
   .ourApproach_Item_Circle {
    height: 14rem;
    width: 14rem;
   } 
}
@media(max-width: 950px) {
    .ourApproach {
        padding: 8rem 2rem 0 2rem;
    }
   .ourApproach_Interaction_Container {
    display: none;
    flex-direction: column;
   }
   .ourApproach_Interaction_Container.mobCircleContainer {
    display: flex;
    margin: 2rem 0 0 0;
    }
    .ourApproach_Item_Circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 20rem;

    }
    .ourApproach_Item_Bullet {
        margin: 1rem 0 0 1rem;
    }
    .ourApproach_Item_Bullet > p  {
        color: #0E0E0E;
    }
}
@media(max-width: 350px) {
    .ourApproach_Item_Circle {
        height: 16rem;
        width: 16rem;
    }
    .ourApproach_Title  > h2 {
        text-align: center;
    }
}
