.titleB {
    font-size: 2rem;
    padding: 1rem 0;
}
.descriptB {
    font-size: 1rem;
    padding: 0.2rem 0 1rem 0;
    text-align: center;
}
.bspkSrvc {
    padding: 2rem;
}
.bspkSrvcContainer {
    padding: 2rem 4rem;
}
.bspkSrvcLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px yellowgreen solid;
}
.bspkItemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    border: 1px blue solid;
}
.bspkItemA {
    display: flex;
    border: 1px green solid;
}
.bspkItemB {
    display: flex;
    border: 1px tan solid;
}
.bspkLogoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 0.4rem;
    margin: 1rem;
    border: 1px hotpink solid;
}
.bespkLogoContainer {
    height: 45%;
    width: 45%;
}
.bespkLogoText {
    font-size: 0.9rem;
}
@media(min-width: 870px) and (max-width: 1080px) {
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .descriptB {
        border: 1px red solid;
    }
    .bspkSrvcLogoContainer {
        border: 1px red solid;
    }
    .bspkLogoItem {
        height: 6.2rem;
        width: 6.2rem;
    }
}
@media(min-width: 720px) and (max-width: 870px) {
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .descriptB {
        text-align: center;
        border: 1px green solid;
        font-size: 0.8rem;
    }
    .descriptB p {
        border: 1px red solid;
        width: 100%;
    }
}
@media(max-width: 720px) {
    body,html {
        font-size: 1vw;
    }

    .bspkSrvc {
        padding: 8rem 0;
    }
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .titleB {
        font-size: 4rem;
        padding: 2rem 0;
    }
    .descriptB {
        text-align: center;
        border: 1px green solid;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center ;
    }
    .descriptB p {
        border: 1px red solid;
        width: 100%;
    }
    .bspkLogoItem {
        /* min-height: 10rem;
        min-width: 10rem; */
        height: 13.2rem;
        width: 13.2rem;
        margin: 1rem;
    }
    .bspkItemContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0.8rem 0;
        border: 1px blue solid;
    }
}