.titleB {
    padding: 1rem 0;

    text-align: center;
}
.titleB > h3 {
    font-size: 3rem;
}
.descriptB {
    padding: 0.2rem 0 1rem 0;
    text-align: center;
    width: 50%;
}
.descriptB > p {
    font-size: 1rem;
}
.bspkSrvc {
    padding: 2rem;
}
.bspkSrvcContainer {
    padding: 2rem 4rem;
}
.bspkSrvcLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bspkItemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
}
.bspkItemA {
    display: flex;
}
.bspkItemB {
    display: flex;
}
.bspkLogoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 0.4rem;
    margin: 1rem 2rem 1rem 2rem;

}
.bespkLogoContainer {
    height: 45%;
    width: 45%;
}
.bespkLogoContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bespkLogoText {
    font-size: 0.9rem;
}
@media(min-width: 870px) and (max-width: 1080px) {
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .bspkLogoItem {
        height: 6.2rem;
        width: 6.2rem;
    }
}
@media(min-width: 720px) and (max-width: 870px) {
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .descriptB {
        width: 90%;
    }
    .descriptB > p{
        text-align: center;
        font-size: 1rem;
        width: 100%;
    }
    .bspkLogoItem {
        height: 6.2rem;
        width: 6.2rem;
    }
}
@media(min-width: 520px) and (max-width: 720px) {
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .descriptB {
        width: 95%;
    }
    .descriptB > p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    .bspkLogoItem {
        height: 6.2rem;
        width: 6.2rem;
    }
    .bspkItemContainer {
        display: flex;
    }
    .bspkItemA {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .bspkItemB {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;    
    }
}
@media(min-width: 420px) and (max-width: 520px) {
    .bspkSrvc {
        padding: 2rem 0;
    }
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .descriptB {
        width: 95%;
    }
    .descriptB > p {
        width: 100%;
        text-align: center;
        font-size: 0.94rem;
    }
    .bspkLogoItem {
        height: 5.6rem;
        width: 5.6rem;

        margin: 1rem 0;
    }
    .bspkItemContainer {
        display: flex;
    }
    .bspkItemA {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .bspkItemB {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;    
    }
    .titleB > h3 {
        font-size: 2.4rem;
    }
}
@media(min-width: 320px) and (max-width: 420px) {
    .bspkSrvc {
        padding: 2rem 0;
    }
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .titleB {
        width: 80%;
    }
    .titleB > h3 {
        font-size: 2.4rem;
    }
    .descriptB {
        width: 95%;
    }
    .descriptB p {
        width: 100%;
        text-align: center;
        font-size: 0.94rem;
    }
    .bspkLogoItem {
        height: 5.4rem;
        width: 5rem;

        margin: 1rem 0;
    }
    .bspkItemContainer {
        display: flex;
    }
    .bspkItemA {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .bspkItemB {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;    
    }
    .bespkLogoText {
        font-size: 0.7rem;
    }
}
@media(max-width: 320px) {
    .bspkSrvc {
        padding: 2rem 0;
    }
    .bspkSrvcContainer {
        padding: 2rem 0rem;
    }
    .titleB  > h3{
        font-size: 2rem;
    }
    .descriptB {
        width: 95%;
    }
    .descriptB > p {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
    }
    .bspkLogoItem {
        height: 5.4rem;
        width: 5rem;
    }
    .bspkItemContainer {
        display: flex;
    }
    .bspkItemA {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .bspkItemB {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .bespkLogoText {
        font-size: 0.7rem;
    }
}
