.cert{
    padding: 2rem;
}
.certContainer {
    padding: 2rem 4rem;
}
.certLogoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}
.certLogo {
    width: 20%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;

}
.certLogo > img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
/* media-query */
@media(max-width: 1474px) {
    .cert{
        padding: 2rem;
    }
    .certContainer {
        padding: 2rem 2rem;
    }
    .certLogoContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem 0;
    }
   
}
@media (max-width: 1249px) {
    .certContainer {
        padding: 2rem 0rem;
    }
    .certLogo {
        width: 33.33%;
    }
}

@media(max-width: 620px) {
    .cert{
        padding: 2rem 0;
    }
    .certContainer {
        padding: 1rem 0rem;
    }
}
@media(max-width: 540px) {
    .certLogoContainer {
        justify-content: center;
    }
}
@media(max-width: 455px) {
    .certLogo {
        width: 50%;
    }
}
@media(max-width: 320px) {
    .cert{
        padding: 2rem 0;
    }
    .certContainer {
        padding: 1rem 0rem;
    }
}