.glow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.8rem;
    height: 3.9rem;
    transform: translateY(-2.2rem);
}
.arrContB {
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 1rem;
    border-radius: 50%;
    background: #000;
    border: 1px #FFF solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dShwCse {
    padding: 2rem;
    background: #0e0e0e;
}
.dShwCseContainer {
    padding: 1rem 2rem;
}
.dsgnItem {
    position: relative;
    cursor: pointer;
    width: 25%;
    height: 40rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dsgnItem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e0e0e;
    width: 50%;
    height: 100%;
    z-index: 200;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dsgnItem::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0e0e0e;
    width: 50%;
    height: 100%;
    z-index: 200;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dsgnItem:hover.dsgnItem::after, .dsgnItem:hover.dsgnItem::before {
    width: 0;
}
.dsgnItemTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 500;
    font-size: 2rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dsgnWrap {
    display: flex;
}
.dsgnWrapB {
    display: none;
}
.dsgnItem:hover .dsgnItemTitle {
    top: 18%;
    animation: .4s opacity  linear;
}
@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
.itemList {
    background: #FFF8F1;
    color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.itemList > ul {
    list-style: square;
}
.itemList > ul > li {
    padding: .8rem 0;
}
@media(min-width: 950px) and (max-width: 1190px) {
    .dShwCse {
        padding: 2rem 1rem;
    }
    .dShwCseContainer {
        padding: 1rem 0rem;
    }
    .dsgnItemTitle {
        font-size: 1.6rem;
    }
}
@media(max-width: 950px) {
   .dsgnWrap {
    display: none;
   }
   .dsgnWrapB {
    display: block;
    transition: all .5s ease;
   }
   .accordTitle {
    font-size: 2rem;
   }
   .accordContent {
    font-size: 1.2rem;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
   }
   .accordContent.Show {
    font-size: 1.2rem;
    height: 430px;
    overflow: hidden;
    transition: all .5s ease;
   }
   .accordContent > div > ul > li {
    padding: 0.6rem 0;
   }
   .accordGif {
    height: 12rem;
    width: 100%;
   }
   .dsgnAccord {
    border-top: 1px linear-gradient(270deg, #EFCEAF 37.78%, rgba(255, 255, 255, 0) 106.12%) solid;
   }
}
@media(max-width: 470px) {
    .dShwCseContainer {
        padding: 1rem 0rem;
    }
    .dsgnWrap {
        display: none;
       }
       .dsgnWrapB {
        display: block;
        transition: all .5s ease;
       }
       .accordTitle {
        font-size: 1.6rem;
       }
       .accordContent {
        font-size: 0.9rem;
        height: 0;
        overflow: hidden;
        transition: all .5s ease;
       }
       .accordContent.Show {
        font-size: 0.9rem;
        height: 430px;
        overflow: hidden;
        transition: all .5s ease;
       }
       .accordContent > div > ul > li {
        padding: 0.6rem 0;
       }
       .accordGif {
        height: 10rem;
        width: 100%;
       }
}

@media(max-width: 300px) {
    .dShwCse {
        padding: 2rem 0;
    }
    .accordTitle {
        font-size: 1.2rem;
       }
    .dShwCseTitle > div{
        font-size: 1rem;
    }
}