
/* font */
@font-face {
  font-family: helReg;
  src: local('helReg') ,url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-display: swap;
}
.helReg {
  font-family: helReg;
}
@font-face {
  font-family: helMed;
  src: local('helMed'), url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-display: swap;
}
.helMed {
  font-family: helMed;
}
@font-face {
  font-family: helBold;
  src: local('helBold') ,url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-display: swap;
}
.helBold {
  font-family: helBold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #FFF;
  background: #FFFF;
}

a {
  color: inherit;
  text-decoration: none;
}
sup {
  font-size: 0.6em;
  position: relative;
  transform: translate(-60%,-20%);
}

.TMorange {
  color: #FF5D1D;
}
.dark {
  color: #0E0E0E;
}
/* RADIUS */
.btnRad {
  border-radius: 0.2em;
}
/* Utilities */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightBtn {
  background-color: #FFF;
  padding: .6rem 1.4rem;
  transition: all .3s ease;
}
.darkBtn {
  background-color: #0E0E0E;
  color: #FFF;
  padding: .6rem 1.4rem;
  transition: all .3s ease;
}
.bgBtn {
  padding: 1rem 2rem;
}
.lightBtn:hover {
  background-color: #FF5D1D;
  color: #FFF;
}
.darkBtn:hover {
  background-color: #FF5D1D;
}
/* svg */
.svg-arrow-light {
  fill: #0E0E0E;
}
.lightBtn:hover .svg-arrow-light {
  fill: #FFF;
}
/* works-arrow */
.worksArrow {
  fill: #FFF;
  transition: all 0.25s ease;
}
/* -----svg-end------ */
.bgNilBtn {
  background: none;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
.snapsInline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 24px;
}
.snapsInline > * {
  scroll-snap-align: start;
}
/* animation values */
.aN1 {
  transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
/*  */
/* COMPONENTS */

/* eWorksComponent */
.eWorksShowcaseItem {
  position: relative;
  width: 32%;
  height: 34rem;
  padding: 2rem;
  display: flex;
  overflow: hidden;

}
.eWorksShowcaseItem::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.eWorksShowcaseItem:hover::after {
  opacity: 0.56;
}
.worksCountComponent {
  display: flex;
  align-items: center;
  z-index: 100;
}
.worksIcon {
  height: 4.63rem;
  width: 2.63rem;
  margin-right: .6rem;
}
.worksCount {
  font-size: 1.4rem;
}
.worksSuccess {
  font-size: 1rem;
}
.eWorksItemText {
  width: 100%;
  transform: translateY(25%);
  z-index: 100;
}

.eWorksShowcaseItem:hover .eWorksItemText {
  transform: translateY(0);
}
.eWorksTitle{
  font-size: 1.5rem;
}
.eWorksTitle {
  padding: 1rem 0;
}
.eWorksDescript {
  padding: 0 0 1rem 0;
}
.eWorksTagContainer {
  display: flex;
}
.eWorksTag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border: 1px #FFF solid;
  border-radius: 20rem;
  padding: .3rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.hTagContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}
.hTag {
  font-size: .8rem;
}
.hCTA {
  font-size: 1rem;
  cursor: pointer;
  transition: all 1.2s ease;
}
.eWorksShowcaseItem:hover .hCTA, .eWorksShowcaseItem:hover .worksArrow {
  color: #FF5D1D;
  fill: #FF5D1D;
}
/*  */

/* TITLE COMPONENT */
.title {
  font-size: 1.8rem;
  font-weight: 500;
}

/* H1 class */
.H1 {
  font-size: 3.1rem;
  line-height: 185%;
}









