.header {
    background: #FFF;
    padding: 1.2rem 8rem;
    filter: drop-shadow(0px 4px 16px rgba(118, 118, 118, 0.08));

    position: relative;
    z-index: 999;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.headerLeft {
    display: flex;
    align-items: center;

}
.headerLogo {
    height: 2.86rem;
    width: 1.4rem;

}
.headerTitle {
    color: #454545;
    font-size: 1rem;
    margin: 0.4rem 0 0 0.4rem;

}
.headerMid {
    /* border: 1px red solid; */
}
.headerList {
    display: flex;
    list-style: none;
    color: #141414;
}
.headerListItem {
    font-size: 1rem;
    padding: 0 0.5rem;
    margin: 0 1rem;

    cursor: pointer;

}

/* mega-menu */
.megaMenu {
    background: #FFF;

    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,0);

    width: 100%;
    padding: 0 8em;

    height: 0;
    overflow: hidden;
    transition: all 0.6s ease;

    /* z-index: 200; */
 }
 .megaMenu.reveal {
    height: 530px; 
    padding: 2em 8em;
    z-index: 200;
 }
 .megaMenu_Container {
    display: flex;
    justify-content: space-between;
    padding: 0 4em;

    opacity: 0;
    transition: all 0.3s ease;
    z-index: 200;


 }
 .megaMenu_Container.visible {
    opacity: 1;
 }
 .arrow {
    height: 100%;
    width: 100%;
    object-fit: contain;

    transition: all 0.3s ease;
}
.arrow.rotate {
    transform: rotate(-180deg);
}
.tiltArrow {
    margin: 0 0 0 0.5em;
}
.megaMenu_A {
    width: 60%;
}
.megaMenu_A_Title > p {
    color: #0E0E0E;
    font-size: 1.12em;
}
/* mega-menu inner A */
.megaMenu_A_Product {
    display: flex;
    align-items: center;
}
.product_Logo {
    background: #ECECEC;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.2em;
    margin: 0 0.5em 0 0;
    border-radius: 0.25em;
}
.product_Name > p {
    color: #000;
    font-size: 1.3em;
}
.product_Text {
    padding: 1em 0;
}
.product_Text > p {
    color: #0E0E0E;
    font-size: 0.96em;
    line-height: 150%;
}
.megaMenu_A_Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* megaMenu Items hover states */
.megaMenu_A_Item {
    transition: all 0.5s ease;
    cursor: pointer;

    border: 1px #E6E6E6 solid;
    border-radius: 0.375em;
    margin: 2em 0;
    width: 48%;

    padding: 1em;

    /* margin: 0 1em; */
}
.megaMenu_A_Item.hoverMagento {
    background: #FFF1EB;
    border: 1px #FFE5DA solid;
}
.megaMenu_A_Item.hoverShopify {
    background: #FBFFF3;
    border: 1px #95BF47 solid;
}
.megaMenu_A_Item.hoverVTEX {
    background: #FFF5F9;
}
.megaMenu_A_Item.hoverBigC {
    background: #FAFBFF;

    border: 1px #DEE7FF solid;
}
/* text states */
.product_Name > p {
    transition: all 0.5s ease;
}
.product_Name.shopifyText > p {
    color: #95BF47;
}
.product_Name.magentoText > p {
    color: #FFE5DA;
}
.product_Name.vtexText > p {
    color: #FF3366;
}
/* ------ */
/* megaMenuB */
.megaMenu_B {
    width: 40%;
    padding: 0 0 0 6em;
}
.megaMenu_B_Container {
    display: flex;
    flex-direction: column;

}
.megaMenu_B_Items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
.megaMenu_B_Item {
    display: flex;
    align-items: center;

    width: 48%;

    margin: 2em 0;
}
.megaMenu_B_Logo {
    margin: 0 0.5em 0 0;
}
.megaMenu_B_Item_Title > p {
    color: #575757;
    font-size: 1.3em;
}

/* companyDropdown */
.headerListItem.rel {
    position: relative;
}
.companyDropdown {
    background: #FFF;
    position: absolute;
    bottom: -900%;
    left: -12%;
    padding: 1em 2em 1em 0.5em;
    display: none;
    opacity: 0;

    transition: all 0.6s ease;
}
.compDrop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.companyDropdownItems {
    /* margin: 0.2em 0; */

}
.companyDropdownItem {
    margin: 0 2em 1em 0;
    width: 100%;
}
/* hamburger */
.headerHamburger {
    display: none;
}

/* hamburger-layout */
.hb {
    height: 0;
    background: #FFF;
    overflow: hidden;

    display: none;
}
.hb.hbActive {
    height: 100vh;
    background: #FFF;
    overflow: hidden;
    padding: 2rem;
}
.hb_Item {
    margin: 2rem 0;
}
.hb_Item > p {
    color: #686868;
    font-size: 1.6rem;
}
.hb_Item_Drop {
    transition: all 0.3s ease;
    overflow: hidden;

    height: 0px;
    /* display: flex;
    justify-content: space-between; */
}
.hb_Item_Drop.hb_Item_Drop_Active {
    height: 360px;
}
.hb_Item_Drop_Left {
    padding: 1rem 0.5rem 0 0.5rem;
    width: 50%;

    /* border: 1px green solid; */
}
.hb_Item_Drop_Right {
    padding: 1rem 0.5rem 0 0.5rem;

    width: 50%;
    /* border: 1px green solid; */
}
.hb_Item_Drop_Title > p {
    font-size: 1.2rem;
}
.hb_Item_Drop_List_Item {
    color: #686868;
    list-style: none;

    margin: 0.8rem 0;
    font-size: 1rem;
}
.hb_Item_Drop_List_Items {
    display: flex;
}
.hb_Item_Drop_List_Left{
    width: 50%;

}
.hb_Item_Drop_List_Right {
    width: 50%;
}
.hb_Item_Drop > P {
    color: #686868;
}
.no-scroll {
    overflow: hidden;
    position: fixed;
}
.hb_Item_Drop_Title > p {
    color: #686868;
}
/* arrow */
.mob_Arrow {
    height: 100%;
    width: 100%;
    object-fit: contain;
    

    transition: all 0.3s ease;
}
/* hamburger-layout-end */

/* media-query(navbar) */
@media(max-width: 1200px) {
    .header {
        padding: 1.2rem 4rem;
    }
}
@media(max-width: 1000px) {
    .header {
        padding: 1.2rem 2rem;
    }
}
@media(max-width: 900px) {
    .header {
        padding: 1.2rem 1rem;
    }
    .headerListItem {
        margin: 0 0.4rem;
    }
}

@media(max-width: 800px) {
    .hb{
        display: block;
    }
    .headerMid {
        display: none;
    }
    .headerRight{
        display: flex;
        align-items: center;
    }
    .headerHamburger {
        display: block;
        padding: 0.5rem 1rem;
        margin: 0 1rem;
    }
    .hamburgerLine {
        padding: 0.1rem 1rem;
        margin: 0.2rem 0;
    }
    .hamburgerLine_Inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #000;

        transition: all 0.4s ease;
        transform: rotate(0deg);
    }
    .hamburgerLine_Inner_Active_A {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #000;

        transition: all 0.4s ease;
        transform: translate(2%,0%) rotate(-45deg);
    }
    .hamburgerLine_Inner_Active_B {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #000;

        transition: all 0.4s ease;
        transform: translate(1%,-150%) rotate(45deg);
    }
}
@media(max-width: 600px) {
    .headerTitle {
        display: none;
    }
    .headerLogo {
        height: 4rem;
        width: 2rem;
    }
    .hb.hbActive {
        padding: 1rem 0;
    }
}
@media(max-width: 500px) {
    .hb_Item_Drop_Left {
        width: 40%;
    }
    .hb_Item_Drop_Right {
        width: 60%;
    }
}
@media(max-width: 450px) {
    .headerLogo {
        height: 3rem;
        width: 2rem;
    }
    .headerHamburger {
        display: block;
        padding: 0.5rem 0;
    }
    .hb_Item > p {
        font-size: 1.6rem;
    }
    .hb_Item_Drop_Title > p {
        font-size: 1rem;
    }
    .hb_Item_Drop_Left {
        width: 100%;
    }
    .hb_Item_Drop_Right {
        width: 80%;
    }
}

/* media-query(mega-menu-inner) */
@media(max-width: 1350px) {
    .megaMenu.reveal {
        height: 550px;
        padding: 2em;
    }
    .megaMenu_B {
        padding: 0 0 0 4em;
    }
}
@media(max-width: 1250px) {
    .megaMenu_Container {
        padding: 0 2em;
    }
}
@media(max-width: 950px) {
    .megaMenu_Container {
        padding: 0;
    }
    .megaMenu_B {
        padding: 0 0 0 2em;
    }
    .megaMenu.reveal {
        height: 580px;
        padding: 2em 1em;
    }
}