/* Hero */
.hero {
  padding: 2rem 2rem;
  background: #FFF;
}
.heroContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 4rem;
}
.heroContentA {
  width: 48%;

}
.heroContentB {
  width: 52%;

}
.heroTitle {
  font-size: 3.1rem;
  line-height: 185%;
  padding: 1rem 0;
  color: #0E0E0E;
  width: 100%;
}
.heroDescript {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;

}
.descriptTextB {
  color: #0E0E0E;
}
.heroSmallLogos {
  padding: 1rem 0;
}
.heroLogoShowcaseContainer {
  width: 100%;
  height: 36.4rem;
}
.heroSmallLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroSmallLogoContainer {
  width: 20%;
  height: auto;
}
/* media-query */
@media(min-width: 1209px) and (max-width: 1350px) {
  
.hero {
  padding: 2rem 1rem;
}
.heroContentWrapper {
  padding: 1rem 1rem 1rem 4rem;
}
  .heroTitle {
    font-size: 3.1rem;
  }
  .heroDescript{
    font-size: 1rem;
  }
  .heroLogoShowcaseContainer {
    width: 100%;
    height: 30rem;
  }
}
@media(min-width: 1055px) and (max-width: 1209px) {
  .hero {
    padding: 2rem 1rem;
  }
  .heroContentWrapper {
    padding: 1rem 1rem 1rem 4rem;
  }
  .heroContentA {
    width: 50%;
  }
  .heroContentB {
    width: 50%;
  }
  .heroTitle {
    font-size: 3.1rem;
  }
  .heroDescript{
    font-size: .8rem;
  }
  .heroLogoShowcaseContainer {
    width: 100%;
    height: 30rem;
  }
  .heroSmallLogoContainer {
    width: 20%;
    height: auto;
  }
}
@media(min-width: 896px) and (max-width: 1055px) {
  .hero {
    padding: 2rem 1rem;
  }
  .heroContentWrapper {
    padding: 1rem 0 1rem 4rem;
  }
  .heroContentA {
    width: 50%;
  }
  .heroContentB {
    width: 50%;
  }
  .heroTitle {
    font-size: 2.8rem;
  }
  .heroDescript{
    font-size: .8rem;
  }
  .heroLogoShowcaseContainer {
    width: 100%;
    height: 30rem;
  }
  .heroSmallLogoContainer {
    width: 20%;
    height: auto;
  }
}
@media(min-width: 720px) and (max-width: 896px) {
  .heroContentWrapper {
    padding: 2rem 0;
  }
  .heroContentWrapper {
    padding: 1rem 0 1rem 1rem;
  }
  .heroContentA {
    width: 50%;
  }
  .heroContentB {
    width: 50%;
  }
  .heroTitle {
    font-size: 2.2rem;
  }
  .heroDescript{
    font-size: .6rem;
  }
  .heroLogoShowcaseContainer {
    width: 100%;
    height: 30rem;
  }
  .heroSmallLogoContainer {
    width: 20%;
    height: auto;
  }
}
@media(min-width: 620px) and (max-width: 720px) {
  .hero {
    padding: 0;
  }
  .heroContentWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0;
  }
  .heroContentA {
    width: 100%;
  }
  .heroContentB {
    width: 100%;
  }
  .heroTitle.hTMob {
    display: block;
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0;
    font-size: 3.1rem;
    line-height: 195%;  
  }

  .heroDescript{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 2rem 0;
    font-size: 1rem;
  }
  .heroSmallLogoWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .heroLogoShowcaseContainer {
    width: 100%;
    height: 22rem;
  }
  .heroSmallLogoContainer {
    width: 34%;
    margin: 2rem 0;
    padding: 0 1rem;
    height: auto;
  }
}
@media(min-width: 520px) and (max-width: 620px) {
  .hero {
    padding: 0;
  }
  .heroContentWrapper {
      display: flex;
      flex-direction: column-reverse;
      padding: 1rem 0;
    }
    .heroContentA {
      width: 100%;
    }
    .heroContentB {
      width: 100%;
    }
    .heroTitle.hTMob {
      display: block;
      text-align: center;
      font-size: 2.8rem;
      padding: 2rem 0;
    }

    .heroDescript{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 2rem 0;
      font-size: .8rem;
    }
    .heroSmallLogoWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .heroLogoShowcaseContainer {
      width: 100%;
      height: 20rem;
    }
    .heroSmallLogoContainer {
      width: 34%;
      margin: 1rem 0;
      padding: 0 1rem;
      height: auto;
    }
}
@media(min-width: 420px) and (max-width: 520px) {
  .hero {
    padding: 0;
  }
  .heroContentWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0;
    }
    .heroContentA {
      width: 100%;
    }
    .heroContentB {
      width: 100%;
    }
    .heroTitle.hTMob {
      display: block;
      text-align: center;
      font-size: 2rem;
      padding: 2rem 0 1rem 0;
    }
    .heroDescript{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0 2rem 0;
      font-size: .7rem;
    }
    .heroSmallLogoWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .heroLogoShowcaseContainer {
      width: 100%;
      height: 20rem;
    }
    .heroSmallLogoContainer {
      width: 40%;
      padding: 0 1rem;
      margin: 1rem 0;
      height: auto;
    }
}
@media(min-width: 320px) and (max-width: 420px) {
  .hero {
    padding: 0;
  }

  .heroContentWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0;
    }
    .heroContentA {
      width: 100%;
    }
    .heroContentB {
      width: 100%;
    }
    .heroTitle.hTMob {
      display: block;
      text-align: center;
      font-size: 1.8rem;
      padding: 2rem 0 1rem 0;
    }

    .heroDescript{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0.8rem 0 2rem 0;
      font-size: .8rem;
    }
    .heroSmallLogoWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .heroLogoShowcaseContainer {
      width: 100%;
      height: 17rem;
    }
    .heroSmallLogoContainer {
      width: 45%;
      padding: 0 1rem; 
      margin: 1rem 0;
      height: auto;
    }
}
@media(min-width: 0px) and (max-width: 320px) {
  .hero {
    padding: 0;
  }
  .heroContentWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0;
    }
    .heroContentA {
      width: 100%;
    }
    .heroContentB {
      width: 100%;
    }
    .heroTitle.hTMob {
      display: block;
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem 0 2rem 0;
    }

    .heroDescript{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0.8rem 0 2rem 0;
      font-size: .8rem;
    }
    .heroSmallLogoWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .heroLogoShowcaseContainer {
      width: 100%;
      height: 17rem;
    }
    .heroSmallLogoContainer {
      width: 45%;
      padding: 0 1rem;
      margin: 1rem 0;
      height: auto;
    }
}
/* commonHero */
@media(max-width: 720px) {
  .heroTitle {
    font-size: 4.6rem;
    display: none;
  }
}
@media(min-width: 720px) {
  .heroTitle.hTMob {
    display: none;
  }
}