.newsL {
    padding: 2rem;
}
.newsLContainer {
    padding: 2rem 4rem;
}
.newsLetter {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background: #FFF8F1;
}
.newsLetterInput {
    padding: 1rem 0;
}
.newsLetterInput input {
    padding: 0.95rem;
    background: none;
    outline: none;
    border: 1px #818181 solid;
    border-right: none;
    width: 60%;
}
.nLTitle {
    color: #1E1E1E;
    padding: 0.5rem 0;
}
.nLDescription {
    /* color: #818181; */
    color: #0E0E0E;
    padding: 0.5rem 0;
}
.interActionTitle {
    font-size: 2rem;
}

.thingMove {
    animation: move 3s ease-in infinite forwards;
}

@keyframes move {
    /* 0% {
        transform: translate(140%, -6.5%) rotate(-30deg);
    }
    25% {
        transform: translate(30%, -32.5%) rotate(-30deg);
    }
    33% {
        transform: translate(38%, -30.5%) rotate(-30deg);
    }
     */
    /* 50% {
        transform: translate(0, -2%) rotate(-30deg);
    }
    75% {
        transform: translate(80%, -120%) rotate(-30deg);
    }
    100% {
        transform: translate(0) rotate(-30deg);
    } */
}
