.stor {
    padding: 2rem;
}
.storContainer {
    padding: 2rem 4rem;
}
.storB {
    padding: 2rem 8rem;
}
.blocTabs {
    display: flex;
}
.tabContainer{
    display: flex;
    flex-direction: column;
}
.tab {
    position: relative;
    padding: 1.8rem 0;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D2D2D2;
    border-right: none;
}
.tab:last-child{
    border-right: 1px solid #D2D2D2;
}
.tab.active {
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
}
.tabImgContainer {
    height: 1.63rem;
    width: 60%;
}
.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    height: 2px;
    background: #EC6835;
    transition: all 0.4s ease; 
}
.tab::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 0) rotate(180deg);

    opacity: 0;
    width: 6%;
    height: 10px;
    /* background: #EC6835; */
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transition: all 0.4s ease;
}
.tab.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 1;
    width: 100%;
    height: 2px;
    background: #EC6835;
    transition: all 0.4s ease;
}
.tab.active::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 0) rotate(180deg);

    opacity: 1;
    width: 6%;
    height: 10px;
    /* background: #EC6835; */
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transition: all 0.4s ease;
}
.contentTab {
    position: relative;
    min-height: 466px;
    overflow: hidden;
    margin: 2rem 0 0 0;
}
.content {
    opacity: 0;
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 3rem 0rem;
    transition: all 0.4s ease;
}
.content.show {
    opacity: 1;
    /* transform: rotate(45deg) translate(0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;

}
.contentA {
    width: 45%;
    padding: 3.4rem 1rem 6rem 0;
}
.contentB {
    width: 48%;
}
.contentTitle {
    font-size: 1.75rem;
    padding: 0 2rem 0 0;
    line-height: 150%;
}
.contentDescription {
    line-height: 176%;
    padding: 1rem 0 2rem 0;
    font-size: 1rem;
}
.contentCTA {
    font-size: 1rem;
}
.contentImgContainer {
    width: auto;
    height: 29.1rem;
}


/* media-query */
@media(max-width: 1470px) and (min-width: 1290px) {
    .stor {
        padding: 2rem 1rem;
    }
    .storContainer {
        padding: 2rem 1rem;
    }
    .storB {
        padding: 2rem 6rem;
    }
}
@media(max-width: 1290px) and (min-width: 980px) {
    .stor {
        padding: 2rem 1rem;
    }
    .storContainer {
        padding: 2rem 1rem;
    }
    .storB {
        padding: 2rem 4rem;
    }
    .tab {
        padding: 1.2rem 0;
    }
    .tabImgContainer {
        height: 1.2rem;
    }
    .tab::before {
        bottom: -13.9%;
    }
    .tab.active::before {
        bottom: -13.9%;
    }
    .contentA {
        width: 48%;
        padding: 0.4rem 1rem 6rem 0;
    }
    /* reduce contentA fontsizes */
    .contentTitle {
        font-size: 1.4rem;
    }
    .contentDescription {
        font-size: 0.9rem;
    }
    .contentCTA {
        font-size: 0.9rem;
    }
    .contentB {
        width: 50%;
    }
}
@media(max-width: 980px) and (min-width: 830px) {
    .stor {
        padding: 2rem 1rem;
    }
    .storContainer {
        padding: 2rem 1rem;
    }
    .storB {
        padding: 2rem 4rem;
    }
    .tab {
        padding: 1.2rem 0;
    }
    .tabImgContainer {
        height: 1.2rem;
    }
    .tab::before {
        bottom: -13.9%;
    }
    .tab.active::before {
        bottom: -13.9%;
    }
    .contentA {
        width: 50%;
        padding: 0.4rem 0 6rem 0;
    }
    .contentTitle {
        font-size: 1.2rem;
    }
    .contentDescription {
        font-size: 0.9rem;
    }
    .contentCTA {
        font-size: 0.9rem;
    }
    .contentB {
        width: 45%;
    }
}
@media(max-width: 830px) and (min-width: 580px) {
    .stor {
        padding: 2rem 1rem;
    }
    .storContainer {
        padding: 2rem 1rem;
    }
    .storB {
        padding: 2rem 2rem;
    }
    .content {
        display: none;
        position: static;
        padding: 2rem 0;
    }
    .content.show {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .contentTab {
        height: fit-content;
        overflow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contentA {
        width: 90%;
        padding: 1rem 0 0 0;
    }
    .contentTitle {
        text-align: center;
        font-size: 1.4rem;
        padding: 0 0 1rem 0;
    }
    .contentB {
        width: 90%;
    }
    .contentImgContainer {
        height: 18rem;
    }
    .tab {
        width: 20%;
        padding: 1rem 0;
    }
    .tabImgContainer {
        height: 1.63rem;
        width: 60%;
    }

}
@media(max-width: 580px) {
    .stor {
        padding: 2rem 0;
    }
    .storContainer {
        padding: 2rem 0;
    }
    .storB {
        padding: 2rem 1rem;
    }
    .content {
        display: none;
        position: static;
        padding: 2rem 0;
    }
    .content.show {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .contentTab {
        height: fit-content;
        overflow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contentA {
        width: 90%;
        padding: 1rem 0 0 0;
    }
    .contentTitle {
        text-align: center;
        font-size: 1.2rem;
        padding: 0 0 1rem 0;
    }
    .contentB {
        width: 90%;
    }
    .contentImgContainer {
        height: 18rem;
    }
    .blocTabs {
        display: inline-flex;
        /* display: flex; */
        width: 200vw;
        overflow-x: auto;
        /* overflow-y: hidden; */
        flex-wrap: nowrap;
        white-space: nowrap;
        overscroll-behavior-inline: contain;
    }
    .tab {
        width: 100%;
        padding: 1rem;
    }
    .tabImgContainer {
        height: 1.3rem;
        width: 60%;
    }
}
@media(min-width: 830px ) {
    .contentBMobTitle {
        display: none;
    }
    .storBtnMob {
        opacity: 0;
        display: none;
    }
}
@media(max-width: 830px) {
    .contentTitle.contentTitleDesk {
        display: none;
    }
    .storBtnMob {
        opacity: 1;
        display: block;
    }
}